.navbar{
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgba(0,0,0,1.0) !important;
}
/* nav.navbar {
    background-color: #CC1414 !important;
} */
.navbar-brand{
    font-family: 'Playfair Display', cursive;
    color: white !important;
    font-size: 22px;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.7) !important;
}

/* Hacer Hoverable el DropDown */
.dropdown:hover > .dropdown-menu {
    display: block;
}

.nav-item{
    font-size: 20px;
}

.paddingTop{
padding-top: 40px;
padding-bottom: 40px;
}

#foto {
    -webkit-filter: grayscale(100%);
    filter: grayscale(80%);
    height: 500px;
    width: 500px;
}
#nombre{
    font-family: 'Playfair Display', serif;
    padding-top: 100px;
    padding-left: 15px;
    text-align: center;
    font-weight: bold;
}
p{
    font-family: 'Playfair Display', serif;
    padding-top: 30px;
    padding-left: 15px;
    text-align: center;
}
.card{
    height: 200px;
    width: 400px;
    border: 0.5px solid black !important;
}

.card-body, .card-img-top{
    border: 0.5px solid black !important;
    box-shadow: 8px 2px 10px #999;
}
.card-title{
    text-align: center;
}